In [1]:
import pandas as pd
import sqlalchemy as sa

In [2]:
TravelTide_url = "postgresql://Test:bQNxVzJL4g6u@ep-noisy-flower-846766.us-east-2.aws.neon.tech/TravelTide"

In [4]:
engine = sa.create_engine(TravelTide_url)
connection = engine.connect().execution_options(isolation_level="AUTOCOMMIT")

In [5]:
query1 = """
-- This CTE prelimits our sessions on Elena's suggested timeframe (After Jan 4 2023)
WITH sessions_2023 AS (
 SELECT *
 FROM sessions s
 where s.session_start > '2023-01-04'
),
-- This CTE returns the ids of all users with more than 7 sessions in 2023
 filtered_users AS (
 SELECT user_id, COUNT(*)
 FROM sessions_2023 s
 GROUP BY user_id
 HAVING COUNT(*) > 7
),
-- This is our main session base table
session_base AS
(select s.session_id, s.user_id, s.trip_id, s.session_start, s.session_end,
 EXTRACT(EPOCH FROM s.session_end-s.session_start) as session_duration, s.page_clicks,
 s.flight_discount, s.flight_discount_amount, s.hotel_discount, s.hotel_discount_amount,
 s.flight_booked, s.hotel_booked, s.cancellation,u.birthdate, u.gender, u.married,
 u.has_children, u.home_country, u.home_city, u.home_airport, u.home_airport_lat,
u.home_airport_lon, u.sign_up_date,f.origin_airport, f.destination, f.destination_airport,
 f.seats, f.return_flight_booked,
 f.departure_time, f.return_time, f.checked_bags, f.trip_airline, f.destination_airport_lat,
 f.destination_airport_lon,f.base_fare_usd,h.hotel_name, CASE WHEN h.nights <= 0 THEN 1 ELSE h.nights
END AS nights,
 h.rooms, h.check_in_time, h.check_out_time, h.hotel_per_room_usd AS
hotel_price_per_room_night_usd
from sessions_2023 s
left join users u
on s.user_id = u.user_id
left join flights f
on s.trip_id = f.trip_id
left join hotels h
on s.trip_id = h.trip_id
WHERE s.user_id IN (SELECT user_id FROM filtered_users)),
cancelled_trips AS
(SELECT DISTINCT trip_id
FROM session_base
WHERE cancellation=True),
-- This is our second base table to aggregate later
not_canceled_trips AS (
SELECT *
FROM session_base
WHERE trip_id IS NOT NULL
 AND trip_id NOT IN (SELECT trip_id FROM cancelled_trips)),
 -- We want to aggregate user behaviour into metrics (a row per user)
 user_base_session AS (
SELECT user_id,
 COUNT(session_id) AS num_session,
 SUM(page_clicks) AS num_page_clicks,
 AVG(session_duration) as avg_session_duration
FROM session_base
GROUP BY user_id),
-- We want to aggregate user behaviour into metrics (a row per user)
user_base_trip AS
(SELECT user_id,
 COUNT(DISTINCT trip_id) AS num_trips,
 SUM(CASE WHEN (flight_booked = TRUE) AND (return_flight_booked = TRUE) THEN 2 WHEN flight_booked = TRUE THEN 1 ELSE 0 END) AS num_flights,
COALESCE((SUM((hotel_price_per_room_night_usd * nights * rooms) * (1 - (CASE WHEN hotel_discount_amount IS NULL THEN 0 ELSE
 hotel_discount_amount END)))),0) AS money_spend_hotel,
AVG(EXTRACT(DAY FROM departure_time-session_end)) AS time_after_booking,
AVG(haversine_distance(home_airport_lat, home_airport_lon, destination_airport_lat, destination_airport_lon)) AS avg_km_flown,
AVG(checked_bags) as avg_bags
FROM not_canceled_trips
GROUP BY user_id
),
-- For our final user table, we join the session metric, trip metrics and general user information
user_metrics AS
(SELECT b.*,
EXTRACT(YEAR FROM AGE(u.birthdate)) AS age, u.gender, u.married, u.has_children, u.home_country, u.home_city, u.home_airport,
COALESCE(t.num_trips,0) AS num_trips,
 COALESCE(t.num_flights,0) AS num_flights,
 COALESCE(t.money_spend_hotel,0) AS money_spend_hotel,
 COALESCE(t.time_after_booking,0) AS time_after_booking,
 COALESCE(t.avg_km_flown,0) AS avg_km_flown,
 COALESCE(t.avg_bags,0) AS avg_bags
FROM user_base_session b
LEFT JOIN users u
ON b.user_id = u.user_id
LEFT JOIN user_base_trip t
ON b.user_id = t.user_id),
-- NEW CTE: Calculate Customer Group based on user_metrics (WITH CORRECT NESTING)
user_metrics_with_group AS (
    SELECT *,
       CASE
          WHEN has_children = True THEN 'Family Traveller'
          WHEN age > 60 THEN 'Senior travellers'
          WHEN age < 60 THEN
-- The entire CASE block below is the RESULT for WHEN age < 60
CASE
    WHEN num_trips <= 2 THEN 'Dreamers'
     WHEN age < 30 AND num_trips > 2 THEN 'Young frequent traveller'
     WHEN age >= 30 THEN
-- The entire CASE block below is the RESULT for WHEN age >= 30
CASE
   WHEN num_trips > 5 THEN 'Business Travellers'
   WHEN num_trips BETWEEN 3 AND 5 THEN 'Young adult frequent travellers'
       ELSE 'Others'
      END
      ELSE 'Others'
      END
      ELSE 'Others'
      END AS Customer_group
 FROM user_metrics
)
SELECT *,
    CASE Customer_group
        WHEN 'Young adult frequent travellers' THEN 'Free WiFi and Roaming Connection'
        WHEN 'Business Travellers' THEN 'Fast Track Security'
        WHEN 'Family Traveller' THEN 'Family Suite Discount'
        WHEN 'Young frequent traveller' THEN 'free meal'
        WHEN 'Dreamers' THEN '15% on Group Booking Discount on hotels and flights'
        WHEN 'Senior Travellers' THEN 'Free meal at hotel'
        ELSE '10% discount on shopping'
    END AS Customer_perk
FROM user_metrics_with_group;





"""
print(query1)
pd.read_sql(sa.text(query1),connection)

-- This CTE prelimits our sessions on Elena's suggested timeframe (After Jan 4 2023)
WITH sessions_2023 AS (
 SELECT *
 FROM sessions s
 where s.session_start > '2023-01-04'
),
-- This CTE returns the ids of all users with more than 7 sessions in 2023
 filtered_users AS (
 SELECT user_id, COUNT(*)
 FROM sessions_2023 s
 GROUP BY user_id
 HAVING COUNT(*) > 7
),
-- This is our main session base table
session_base AS
(select s.session_id, s.user_id, s.trip_id, s.session_start, s.session_end,
 EXTRACT(EPOCH FROM s.session_end-s.session_start) as session_duration, s.page_clicks,
 s.flight_discount, s.flight_discount_amount, s.hotel_discount, s.hotel_discount_amount,
 s.flight_booked, s.hotel_booked, s.cancellation,u.birthdate, u.gender, u.married,
 u.has_children, u.home_country, u.home_city, u.home_airport, u.home_airport_lat,
u.home_airport_lon, u.sign_up_date,f.origin_airport, f.destination, f.destination_airport,
 f.seats, f.return_flight_booked,
 f.departure_time, f.return_time, f.checked_bags, f.trip_airline, f.destination_airport_lat,
 f.destination_airport_lon,f.base_fare_usd,h.hotel_name, CASE WHEN h.nights <= 0 THEN 1 ELSE h.nights
END AS nights,
 h.rooms, h.check_in_time, h.check_out_time, h.hotel_per_room_usd AS
hotel_price_per_room_night_usd
from sessions_2023 s
left join users u
on s.user_id = u.user_id
left join flights f
on s.trip_id = f.trip_id
left join hotels h
on s.trip_id = h.trip_id
WHERE s.user_id IN (SELECT user_id FROM filtered_users)),
cancelled_trips AS
(SELECT DISTINCT trip_id
FROM session_base
WHERE cancellation=True),
-- This is our second base table to aggregate later
not_canceled_trips AS (
SELECT *
FROM session_base
WHERE trip_id IS NOT NULL
 AND trip_id NOT IN (SELECT trip_id FROM cancelled_trips)),
 -- We want to aggregate user behaviour into metrics (a row per user)
 user_base_session AS (
SELECT user_id,
 COUNT(session_id) AS num_session,
 SUM(page_clicks) AS num_page_clicks,
 AVG(session_duration) as avg_session_duration
FROM session_base
GROUP BY user_id),
-- We want to aggregate user behaviour into metrics (a row per user)
user_base_trip AS
(SELECT user_id,
 COUNT(DISTINCT trip_id) AS num_trips,
 SUM(CASE WHEN (flight_booked = TRUE) AND (return_flight_booked = TRUE) THEN 2 WHEN flight_booked = TRUE THEN 1 ELSE 0 END) AS num_flights,
COALESCE((SUM((hotel_price_per_room_night_usd * nights * rooms) * (1 - (CASE WHEN hotel_discount_amount IS NULL THEN 0 ELSE
 hotel_discount_amount END)))),0) AS money_spend_hotel,
AVG(EXTRACT(DAY FROM departure_time-session_end)) AS time_after_booking,
AVG(haversine_distance(home_airport_lat, home_airport_lon, destination_airport_lat, destination_airport_lon)) AS avg_km_flown,
AVG(checked_bags) as avg_bags
FROM not_canceled_trips
GROUP BY user_id
),
-- For our final user table, we join the session metric, trip metrics and general user information
user_metrics AS
(SELECT b.*,
EXTRACT(YEAR FROM AGE(u.birthdate)) AS age, u.gender, u.married, u.has_children, u.home_country, u.home_city, u.home_airport,
COALESCE(t.num_trips,0) AS num_trips,
 COALESCE(t.num_flights,0) AS num_flights,
 COALESCE(t.money_spend_hotel,0) AS money_spend_hotel,
 COALESCE(t.time_after_booking,0) AS time_after_booking,
 COALESCE(t.avg_km_flown,0) AS avg_km_flown,
 COALESCE(t.avg_bags,0) AS avg_bags
FROM user_base_session b
LEFT JOIN users u
ON b.user_id = u.user_id
LEFT JOIN user_base_trip t
ON b.user_id = t.user_id),
-- NEW CTE: Calculate Customer Group based on user_metrics (WITH CORRECT NESTING)
user_metrics_with_group AS (
    SELECT *,
       CASE
          WHEN has_children = True THEN 'Family Traveller'
          WHEN age > 60 THEN 'Senior travellers'
          WHEN age < 60 THEN
-- The entire CASE block below is the RESULT for WHEN age < 60
CASE
    WHEN num_trips <= 2 THEN 'Dreamers'
     WHEN age < 30 AND num_trips > 2 THEN 'Young frequent traveller'
     WHEN age >= 30 THEN
-- The entire CASE block below is the RESULT for WHEN age >= 30
CASE
   WHEN num_trips > 5 THEN 'Business Travellers'
   WHEN num_trips BETWEEN 3 AND 5 THEN 'Young adult frequent travellers'
       ELSE 'Others'
      END
      ELSE 'Others'
      END
      ELSE 'Others'
      END AS Customer_group
 FROM user_metrics
)
SELECT *,
    CASE Customer_group
        WHEN 'Young adult frequent travellers' THEN 'Free WiFi and Roaming Connection'
        WHEN 'Business Travellers' THEN 'Fast Track Security'
        WHEN 'Family Traveller' THEN 'Family Suite Discount'
        WHEN 'Young frequent traveller' THEN 'free meal'
        WHEN 'Dreamers' THEN '15% on Group Booking Discount on hotels and flights'
        WHEN 'Senior Travellers' THEN 'Free meal at hotel'
        ELSE '10% discount on shopping'
    END AS Customer_perk
FROM user_metrics_with_group;

,user_id,num_session,num_page_clicks,avg_session_duration,age,gender,married,has_children,home_country,home_city,home_airport,num_trips,num_flights,money_spend_hotel,time_after_booking,avg_km_flown,avg_bags,customer_group,customer_perk
0,531931,8,75,70.875000,40.0,F,False,False,usa,san jose,SJC,2,4,985.00,7.500000,3267.695119,0.500000,Dreamers,15% on Group Booking Discount on hotels and fl...
1,611065,8,159,146.750000,43.0,F,False,False,usa,los angeles,LAX,4,8,1681.00,5.750000,3472.402884,0.750000,Young adult frequent travellers,Free WiFi and Roaming Connection
2,586762,8,126,116.375000,37.0,F,False,False,canada,montreal,YUL,3,6,5819.00,5.666667,2673.410738,0.333333,Young adult frequent travellers,Free WiFi and Roaming Connection
3,229330,8,129,119.625000,48.0,F,True,False,usa,colorado springs,COS,4,8,3521.00,7.250000,1175.690005,0.250000,Young adult frequent travellers,Free WiFi and Roaming Connection
4,536035,8,111,102.750000,29.0,M,False,False,usa,new york,LGA,2,4,582.00,5.000000,1425.729115,0.500000,Dreamers,15% on Group Booking Discount on hotels and fl...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5993,591155,8,124,115.125000,42.0,M,True,False,canada,windsor,YQG,2,2,853.90,5.000000,3282.200032,1.000000,Dreamers,15% on Group Booking Discount on hotels and fl...
5994,521235,8,194,179.875000,35.0,F,False,False,usa,seattle,SEA,5,10,3709.00,44.800000,2699.350572,1.200000,Young adult frequent travellers,Free WiFi and Roaming Connection
5995,577044,9,183,150.111111,55.0,F,True,True,usa,chicago,UGN,3,6,536.25,8.000000,1193.925852,0.333333,Family Traveller,Family Suite Discount
5996,600351,8,120,112.500000,48.0,F,True,False,usa,portland,PDX,2,4,1040.00,7.500000,2973.866613,0.500000,Dreamers,15% on Group Booking Discount on hotels and fl...
5997,597300,8,91,83.750000,37.0,F,True,True,usa,new york,JFK,2,3,4156.00,8.500000,1434.824867,0.000000,Family Traveller,Family Suite Discount